/* Globals */
* {
  font: 13px Helvetica, Arial, Freesans, Clean, sans-serif;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #004499;
  line-height: 1.5;
  text-decoration: none;
}
a:hover {
  color: blue;
}

/* Select options */
.select_hosts {
  width: 150px;
}

/* Common */
.clear {
  clear: both;
}
.page span a {
  color: red;
  font-weight: bold;
}
blockquote {
  background-color: #eee;
  border: 1px #ccc solid;
  margin: 0;
  padding: 0px;
}
.error {
  background-color: #eee;
  border: 1px #ccc solid;
  color: red;
  margin: 10px 0;
  padding: 0px;
}
.message {
  background-color: #eee;
  border: 1px #ccc solid;
  color: green;
  margin: 10px 0;
  padding: 0px;
}
.operation {
  border-bottom: 1px #efefef solid;
  margin-bottom: 5px;
  padding: 3px;
}
.operation a {
  font-size: 12px;
}
.operation a.current {
  font-weight: bold;
  text-decoration: underline;
}
.gap {
  height: 20px;
}
.big {
  font-size: 14px;
}
h3 {
  border-bottom: 1px #cc9 solid;
  font-size: 12px;
  margin-bottom: 7px;
  margin-top: 0;
  padding-bottom: 0;
  padding-bottom: 3px;
}
h3 a {
  font-size: 12px;
}
ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 600px;
}
ul.list li {
  float: left;
  width: 200px;
}
img {
  border: 0;
}

/* Left pane */
.dbs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dbs li {
  background-color: #eeefff;
  padding-left: 20px;
}
.dbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dbs ul li {
  border-bottom: 0;
  padding-left: 20;
}

/* Collection */
.query {
  background-color: #eeefff;
}
.field_orders p {
  height: 14px;
  margin-top: 0;
}

/* Top pane */
#top-pane {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
}
.top {
  border-bottom: none;
  color: #666;
  padding: 15px;
  background-color: #eaeaea;
  /* Gradient */
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
}
.top select {
  background-color: #fff;
  border: 1px solid #999;
  color: #666;
  font-size: 12px;
  height: auto;
  padding: 1px;
}
.top a {
  color: #555;
  padding: 0 10px;
  text-shadow: 0 1px #fff;
}
.top .left {
  float: left;
}
.top .right {
  float: right;
}

/* Dropdown menus */
.menu, #field_menu, .doc_menu {
  display: none;
  float: right;
  margin-right: 100px;
  margin-top: 0px;
  min-width: 150px;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
}
#field_menu a {
  font: 11px Verdana, Dejavu Sans, sans-serif !important;
  padding: 5px !important;
}
.menu,
.manual,
.doc_menu,
.server-menu,
#field_menu {
  background: #efefef !important;
  border: 1px solid #fafafa !important;
  box-shadow: 0 1px 1px #aaa;
  margin-top: 5px !important;
  padding: 0 !important;
}
.menu a,
.manual a,
.doc_menu a,
.server-menu a,
#field_menu a {
  color: #555;
  display: block;
  font: 13px Helvetica, Arial, Freesans, Clean, sans-serif;
  padding: 7px;
  text-shadow: 0 1px #fff;
}
.menu a:hover,
.manual a:hover,
.doc_menu a:hover,
.server-menu a:hover,
#field_menu a:hover {
  background: #fafafa !important;
}
.menu br,
.manual br,
.doc_menu br,
.server-menu br,
#field_menu br {
  display: none;
}

.menu span,
.manual span,
.doc_menu span,
.server-menu span,
#field_menu span {
  border-bottom: 1px solid #fff;
  display: block;
  height: 1px;
  overflow: hidden;
}
/* Top resizer */
.ui-layout-resizer-north-open {
  background: #eaeaea !important;
  border: 1px solid #eaeaea !important;
}
.ui-layout-toggler-north {
  background: #999 !important;
  border: 1px solid #999 !important;
  border-radius: 5px;
}

/* Top version */
.version {
  color: #999 !important;
  font: 11px Aller, Georgia, serif;
  font-style: italic;
}

/* Tables */
table th {
  background-color: #e5e5e5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(235, 235, 235)), to(rgb(229, 229, 229)));
  background-image: -webkit-linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  background-image: -moz-linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  background-image: -o-linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  background-image: -ms-linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  background-image: linear-gradient(top, rgb(235, 235, 235), rgb(229, 229, 229));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ebebeb', EndColorStr='#e5e5e5');
  border-top: 1px solid #fafafa;
}

/* Records */
.record {
  border: 0 !important;
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 12px;
  padding: 4px;
}
.record:hover {
  background-color: #d8eaf2;
}
.record table {
  background: #fff !important;
  border: 1px #ccc solid !important;
}
.record table:hover {
  background: #fff !important;
}
textarea,
.record_row,
.record_row * {
  font: 12px Consolas, Bitstream Vera Sans Mono, monospace !important;
  font-style: italic !important;
  line-height: 18px !important;
}
.record tr > td[width="50"] {
  color: #efefef;
  font-family: Aller, Georgia, sans-serif;
  font-style: italic;
  font-size: 22px;
  /* @TODO: Fix */
  max-width: 105px;
  overflow: hidden;
}
.record a {
  color: #666;
  font: 11px Verdana, Dejavu Sans, sans-serif !important;
}
.record a[href="#page_top"] {
  background: #efefef;
  left: 3px;
  padding: 3px 5px;
  position: relative;
}
.record:hover a[href="#page_top"] {
  background-color: #d8eaf2;
}

/* Pagination */
.page {
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  margin: 20px 2px;
  padding: 10px 0;
  text-align: center;
  font: 11px Verdana, Dejavu Sans, sans-serif !important;
}
.page a {
  color: #666;
  margin: 0 5px;
  padding: 2px 3px;
  font: 11px Verdana, Dejavu Sans, sans-serif !important;
}
.page span a {
  color: #444;
  background: #d8eaf2;
  border-radius: 3px;
  font-weight: normal;
  padding: 2px 7px;
  text-shadow: 0 1px #fff;
}